{% extends "shared/profile.html" %}
{% load static %}
{% block sidebar %}
{%include "members/members_master.html"%}
{%endblock%}

{%block profile_name %}{{member.name}} <small>( {{member.ssn}} )</small>{%endblock%}

{%block details %}
<ul>
    <li><emph>Heimilisfang:</emph> {{member.fullAddress}}</li>
    <li><emph>Þjóðerni:</emph> {{member.country}}</li>
    <li><emph>Sími:</emph> {{member.phone}}</li>
    <li><emph>Netfang:</emph> {{member.email}}</li>
    {%if member.member.firstPaymentDate %}
        <li><emph>Fyrsta greiðsla:</emph> {{member.member.firstPaymentDate}}</li>
    {%else%}
        <li><emph>Fyrsta greiðsla:</emph> Viðkomandi hefur aldrei greitt félagsgjald.</li>
    {%endif%}

    {%if member.member.lastPaymentDate %}
    <li><emph>Seinasta greiðsla:</emph> {{member.member.lastPaymentDate}}</li>
    {%else%}
    <li><emph>Seinasta greiðsla:</emph> Viðkomandi hefur aldrei greitt félagsgjald.</li>
    {%endif%}
</ul>
{% endblock %}

{%block profile-options %}
<li data-message="{{member.ssn}}" class="module-button" data-module ="payment">
    Skrá greiðslu
</li>
{% endblock %}

{% block sections %}
  <section id="payment-history">
      <h3>Greiðslusaga</h3>
      <ul>
        {%for payment in member.member.allPayments %}
          <li>{{payment.date}}</li>
        {% endfor %}
    </ul>
  </section>
{% endblock %}