@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700,800);

body, html {
    --orange: #eeac39;
    --lightorange: #facb7a;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-position-x: -25em;
}
#header {
    padding-top: 22px;
    height: 72px;
    border-bottom: 1px solid var(--orange);
    background-color:white;
}

a {
    color: #0aa678;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out;
}

a.white{
    color:white;
}

a.white:hover{
    color:white;
}

a:hover {
    color: var(--orange);
}

#content {
    display: inline-block;
    width: 70%;
    height: 100%;
    float: left;
}
.sidebar {
    width: 15%;
    display: inline-block;
    height: 100%;
}

.module{
    display:none;
}

.sidebar.left{
    position:relative;
    float:left;
    left:0px;
}

.sidebar.right{
    position:relative;
    right:0px;
    float:right;
}


.sidebar ul li{
    width:100%;
}

#header .brand {
    margin: 0;
    font-weight: 300;
    color: #262626;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.4;
    float: left;
}

#header .brand strong {
    display: block;
    font-size: 22px;
    font-weight: 700;
}



.wrap {
    margin: 0 1.75em;
}

#header .brand:hover, #navbar li a:hover{
    color: var(--orange);
    cursor:pointer;
}

#navbar li {
    float: left;
    margin-left: .4em;
    padding: 0 11px 15px;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 300;
}

#navbar li a {
    color: black;
    font-weight: 400;
}

#navbar ul{
    list-style:none;
    height:100%;
}

#navbar{
    height:100%;
    display:inline-block;
    float:right;
}

.wcenter {
    margin-left: 50%;
    transform: translateX(-50%);
}

.tcenter {
    text-align: center;
}

#centered-logo {
    margin-left: 50%;
    transform: translateX(-37%);

}

#body{
    margin-top:3em;
}

#sidebar {
    background-color: orange;
    border-radius: 1em;
    margin-left: -1em;
    width:100%;
}

#sidebar ul{
    list-style:none;
    padding-left: 1.2em;
}

#sidebar ul li a {
    color: white;
    font-size: 20px;
    font-weight:400;
    transition: font-weight .5s ease-in-out;
}

#sidebar ul li a:hover {
    cursor:pointer;
    text-decoration:underline;
}



.button {
    float: right;
    position: relative;
    background-color: #eeac39;
    border-radius: 5px;
    color: white;
    padding: 0 .5em;
    bottom: .5em;
    left: 1em;
}

.button.small{
    width:6em;
}

.button.nofloat {
    float: none;
}

.button:hover {
    cursor: pointer;
}

#modules{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    transition:background-color ease-in-out .25s;
    pointer-events:none;
}

#modules.visible {
    background-color: rgba(0,0,0,.55);
    pointer-events:initial;
}

.readonly, textinput:read-only, input:read-only {
    color: rgb(84, 84, 84);
    cursor: default;
    background-color: rgb(235, 235, 228);
}

.readonly {
    color: rgb(84, 84, 84) !important;
    cursor: default !important;
    background-color: rgb(235, 235, 228) !important;
}

.result-box {
    display:none;
    width: 47%;
    background-color: white;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    border: 1px solid var(--lightorange);
    border-radius: 1em;
    z-index: 100;
    overflow: hidden;
    margin-top: -4px;
    min-height:.5em;
}

.result-box-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.result-box-list li {
    font-size: 15px;
}

.result-box-list li:hover {
    background-color: var(--lightorange);
    cursor: pointer;
}

.fullPageForm .textinput {
    border: .4px solid var(--orange);
    border-radius: 1em;
    margin-top: .4em;
    margin-bottom: .4em;
    text-align: center;
    width:100%;
}

.textinput {
    border: .4px solid var(--orange);
    border-radius: 1em;
    margin-top: .4em;
    margin-bottom: .4em;
    text-align: center;
}

.textinput.small{
    width:10em;
}
.text-area {
    border: .4px solid var(--orange);
    border-radius: 1em;
    margin-top: .4em;
    margin-bottom: .4em;
    text-align: center;
}

.text-area.large{
    width:75%;
}

.fullPageForm {
    width: 47%;
    padding-right: 3%;
}

.float-left{
    float:left;
}

.fullPageForm .result-box {
    display: none;
    background-color: white;
    transform: inherit;
    left:inherit;
    border: 1px solid var(--lightorange);
    border-radius: 1em;
    z-index: 100;
    overflow: hidden;
    margin-top: -4px;
    min-height: .5em;
    position:absolute;
    width:32.9%;
}

.fullPageForm .result-box li{
    text-align:center;
}

.hidden{
    display:none;
    position:absolute;
}

.top-space{
    margin-top:1em;
}

.radio-input {
    margin-bottom: -1em;
}

.tiny.textinput{
    width:4em;
}

.tiny {
    width: 7em;
}

.normal.textinput {
    width: inherit;
}

.warning{
    color:red;
    font-weight:100;
}

.textinput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(100,100,120,0.5);
}

a.selected {
    font-weight: bold;
    color: var(--orange);
}

.progressbar {
    border-radius: 13px;
    width:66%;
    margin-left:16.5%;
    position:relative;
}

.progressbar > .fulldiv {
    background-color: lightgray;
    height: 20px;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    z-index:50;
}
.progressbar > .graydiv {
    background-color: gray;
    width: 0%;
    height: 20px;
    border-radius: 10px;
    z-index: 100;
    position: absolute;
}

.progressbar > .orangediv {
    background-color: orange;
    width: 0%;
    height: 20px;
    border-radius: 10px;
    z-index:300;
    position:absolute;
}

.progress-color{
    transition: width 1s;
}