
#payment-info {
    border:none;
}

ul{
    list-style:none;
}

#profile-main {
    height: 15em;
}

#profile-name, h3 {
    color: var(--orange);
}

#profile-name {
    margin-top: -.3em;
}

#profile-image {
    border: 1px solid gray;
    height: 12em;
    width: 12em;
    float:left;
    margin-right:1.25em;
}

#image-area{
    float:left;
}

#detail-area {
    float: left;
    width: calc(100% - 13.5em);
}

section{
    border-bottom: 1px solid var(--orange);
}

.infobox {
    width: 100%;
    height: 9.7em;
    border-top: 1px solid var(--orange);
}

#profile-sections {
    height: 15em;
    width: calc(100% - 13.35em);
    margin-left: 13.35em;
}

#profile-sections section{
    display:none;
}


#detail-area ul {
    padding-top: .75em;
}

#profile-options {
    background-color: var(--orange);
    width: 90%;
}

#profile-options ul {
    margin: 0px;
    padding: 0px;
}


#profile-options ul li {
    border-top: 1px solid #a55;
    text-align: center;
    color: white;
    padding-top: .1em;
    padding-bottom: .1em;
    transition: background-color .2s ease-in-out;
}

#profile-options ul li:hover {
    background-color:var(--lightorange);
    cursor: pointer;
}

#detail-table ,
th,
td {
    border-collapse: collapse;
}

#detail-table tr td:first-child {
    border-right: 1px solid var(--orange);
    margin-right: .5em;
}


#detail-table tr td:nth-child(2) {
    padding-left:1em;
}

.section-button {
    background-color: var(--orange);
    border: .5px solid white;
    border-radius: .5em;
    margin-top: 1333px;
    position: relative;
    padding-bottom: 1em;
    padding: .2em;
    padding-bottom: 0.2em;
    padding-bottom: 1em;
    margin-right: .1em;
    color:white;
}

.section-button.selected{
    background-color: var(--lightorange);
}

.section-button:hover {
    background-color: var(--lightorange);
    cursor:pointer;
}

#profile-sections-buttons {
    overflow: hidden;
    height: 1.5em;
    padding-top: .8em;
}