{% extends "shared/master.html" %}
{% load static %}

{% block sidebar %}
{%include "cats/cats_master.html"%}
{%endblock%}

{%block scripts %}
{{block.super}}
<script src='{%static "js/cat_register_litter.js"%}'></script>
{% endblock %}

{% block styles%}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/cat_register_litter.css' %}">
{% endblock %}

{%block main %}
<h3>Nýskrá got</h3>

<div>
        <section id="lr_pairing">
            <div id ="lr_cattery_registry_id_wrapper" class="fullPageForm">
                <input required id="lr_cattery_registry_id" class="hidden" name="cattery"  autocomplete="off" value=""/>
                <i>Ræktunarnafn</i><br />
                <input id="lr_cattery_registry" class="textinput" autocomplete="off" value="" />
                <div id="lr_cattery_registry_results" class="result-box">
                    <ul class="result-box-list"></ul>
                </div>
                <i class="warning">Vinsamlegast veljið ræktun úr listanum sem birtist</i>
            </div>
            <div>
                <div id = "lr_sire_registry_wrapper" class="fullPageForm float-left">
                    <i>Skráninganúmer Föðurs</i><br />
                    <div>
                        <input data-fill="sire" id="lr_sire_registry"  autocomplete="off" value="" class="parent-search textinput" />
                        <div id="lr_sire_registry_results" class="result-box">
                            <ul class="result-box-list"></ul>
                        </div>
                        <i class="warning">Vinsamlegast veljið föður úr listanum sem birtist</i>
                    </div><br />
                    <input readonly id="lr_sire_registry_name" class="readonly textinput"  autocomplete="off" value="" placeholder="Nafn Föðurs" /><br />
                    <input required readonly id="lr_sire_registry_id" class="readonly textinput"  autocomplete="off" value="" placeholder="--" /><br />
                    <input readonly id="lr_sire_registry_ems" class="readonly textinput"  autocomplete="off" value="" placeholder="EMS Föðurs" />
                    <input readonly id="lr_sire_registry_micro" class="readonly textinput"  autocomplete="off" value="" placeholder="Örmerki Föðurs" />
                    <input readonly id="lr_sire_registry_birthdate" class="readonly textinput" autocomplete="off" value=""  placeholder="Fæðingardagur Föðurs" />
                </div>

                <div id = "lr_dam_registry_wrapper" class="fullPageForm float-left">
                    <i>Skráninganúmer Móðurs</i><br />
                    <div>
                        <input data-fill="dam" id="lr_dam_registry" class="parent-search textinput" />
                        <div id="lr_dam_registry_results" class="result-box">
                            <ul class="result-box-list"></ul>
                        </div>
                        <i class="warning">Vinsamlegast veljið móður úr listanum sem birtist</i>
                    </div>
                    <br />
                    <input id="lr_dam_registry_name" readonly class="textinput readonly"  autocomplete="off" value="" placeholder="Nafn Móðurs" /><br />
                    <input required readonly id="lr_dam_registry_id" class="readonly textinput"  autocomplete="off" value="" placeholder="--" /><br />
                    <input id="lr_dam_registry_ems" readonly class="textinput readonly"  autocomplete="off" value="" placeholder="EMS Móðurs" />
                    <input id="lr_dam_registry_micro" readonly class="textinput readonly"  autocomplete="off" value="" placeholder="Örmerki Móðurs" />
                    <input id="lr_dam_registry_birthdate" readonly class="textinput readonly"  autocomplete="off" value="" placeholder="Fæðingardagur Móður" />
                </div>
                <div>
                    <div id="lr_birthdate_wrapper" class="fullPageForm float-left">
                        <i>Fæðingardagur Gots</i><br />
                        <input required type="date" id="lr_birthdate" class="textinput"   autocomplete="off" value="" name="litter_birthdate" />
                        <i class="warning">Ógild dagsetning</i>
                    </div>
                    <div  id="lr_littersize_wrapper" class="fullPageForm float-left">
                        <i>Fjöldi kettlinga</i><br />
                        <input id = "lr_littercount" required type="number" class="textinput"  autocomplete="off" value=""  name="litter_amount" />
                        <i class="warning">Ógild gotstærð</i>
                    </div>
                </div>
            </div>
            <div id="lr_next_button" class="top-space button">
                Áfram
            </div>
        </section>
        <section style="display:none" id="lr_kitten_section">
            <i>Vinsamlegast fyllið út viðeigandi reiti fyrir hvern kettling</i>
            <div id="lr_kitten_formlist">

            </div>
            <div id="lr_kitten_button">
                <div id="confirm_litter_button" class="button">Staðfesta</div>
            </div>
        </section>
        <section style="display:none" id="lr_kitten_new_data">
            <i>Eftirfarandi litir fundust ekki. Vilt þú skapa þá núna?</i>
            <div id="lr_colors_formlist">

            </div>

            <i>Eftirfarandi félög fundust ekki. Vilt þú skapa þau núna?</i>
            <div id="lr_orgs_formlist">

            </div>
            <div id="lr_new_data_button">
                <div id="confirm_new_button" class="button">Staðfesta</div>
            </div>
        </section>
</div>
{%endblock%}
