{% extends "shared/modules/module_master.html" %}

{%block module_type%}person{%endblock%}

{% block module_title%}
    Einstaklingur óþekktur
{%endblock%}
{%block module_sections %}
    <div data-section="basic" class="button section selected">
        Upplýsingar
    </div>
{%endblock%}


{%block module_body %}
    <small>Einstaklingur óþekktur: vinsamlegast skráið inn viðeigandi upplýsingar</small>
    <form id="person-form">
        <section data-section="basic">
            <div class="centeredContent">
                Kennitala<br />
                <input readonly="readonly" class="form-kt textinput" placeholder="Kennitala" name="ssn" />
            </div>
            <div>
                <small>Nafn</small><br />
                <input class="textinput" placeholder="Nafn" name="name" /><br />
                <small>Heimilisfang</small><br />
                <input class="textinput" placeholder="Heimilisfang" name="address" /><br />
                <small>Póstnúmer</small><br />
                <input class="textinput" placeholder="101" name="post" /><br />
                <small>Bæjarfélag</small><br />
                <input class="textinput" placeholder="Borg" name="city" />
                <small>Símanúmer</small><br />
                <input class="textinput" placeholder="123-4567" name="phone" />
                <small>Netfang</small><br />
                <input class="textinput" placeholder="kynjakettir@kynjakettir.is" name="email" />
            </div>
        </section>
    </form>
{%endblock%}

